<%- include('partials/headerlog.ejs') %>

<script src="home.js" defer></script>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="stylesheets/cinema.css">
<div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.wallpapersafari.com/23/84/ZF8ATm.jpg" class="d-block w-100" alt="NMovie">
      <div class="carousel-caption  d-md-block">
        <h1 class="head-cinema">NMovie</h1>
        <p class="head-messege">We hope you enjoy your movie!</p>
      </div>
    </div>
</div>


    
        <div class="part-movie">
            <p class="movie-head">LOCATION</p>
            <button id="sub-now" class="showing-movie decoration">Bangkok And Metropolitan Region</button>
            <button id="sub-come" class="coming-movie decoration">Central Region</button>
            <hr class="line line-edit">
        </div>
   
        <div id="now-showing">
            <div class="album py-5">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
                  <!-- picture and detail -->
      
                  <div class="col">
                    <a href="/showtime" class="none-decoration">
                      <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                        <div class="card-body bg-dark">
                          <h5 class="card-title">Godzilla</h5>
                          <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="col">
                    <a href="/showtime" class="none-decoration">
                      <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                        <div class="card-body bg-dark">
                          <h5 class="card-title">Godzilla</h5>
                          <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="col">
                    <a href="/showtime" class="none-decoration">
                      <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                        <div class="card-body bg-dark">
                          <h5 class="card-title">Godzilla</h5>
                          <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  <div class="col">
                    <a href="/showtime" class="none-decoration">
                      <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                        <div class="card-body bg-dark">
                          <h5 class="card-title">Godzilla</h5>
                          <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                          <div class="d-flex justify-content-between align-items-center">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
      
                  
      
      
      
      
      
      
                </div>
              </div>
            </div>
          </div>
        <div id="coming-soon" class="hidden">
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                        <!-- picture and detail -->

                        <div class="col">
                            <a href="/showtime" class="none-decoration">
                                <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                                    <div class="card-body bg-dark">
                                        <h5 class="card-title">Godzilla</h5>
                                        <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/showtime" class="none-decoration">
                                <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                                    <div class="card-body bg-dark">
                                        <h5 class="card-title">Godzilla</h5>
                                        <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col">
                            <a href="/showtime" class="none-decoration">
                                <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                                    <div class="card-body bg-dark">
                                        <h5 class="card-title">Godzilla</h5>
                                        <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col">
                            <a href="/showtime" class="none-decoration">
                              <div class="card shadow-sm bg-dark" style="width: 14.3rem;">
                                <div class="card-body bg-dark">
                                  <h5 class="card-title">Godzilla</h5>
                                  <p class="card-text">วันที่ฉาย : 2021-05-04</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
              
                        


                    </div>
                </div>
            </div>
        </div>

<%- include('partials/footer.ejs') %>