<%- include('partials/headerlog.ejs') %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="stylesheets/showtime.css">
<div>
     <div class="show-time">
        <ul class="total-ul">
            <li class="li">
                <a href="#" >
                  <p>1</p>
                  <i class="fa fa-check"></i>
                  <p>Select Time</p>
                </a>
              </li>
            

          <li class="li" >
            <a href="#" >
              <p>2</p>
              <i class="fa fa-check"></i>
              <p>Select Seat</p>
            </a>
          </li>

           <li class="li">
              <a href="#" >
                <p>3</p>
                <i class="fa fa-check"></i>
                <p>Payment</p>
              </a>
            </li>
            
            <li class="li">
              <a href="#" >
                <p>4</p>
                <i class="fa fa-check"></i>
                <p>Finish</p>
              </a>
            </li>
          
        </ul>
      </div>
<%- include('partials/footer.ejs') %>