.movie-head{
    font-size:  3.0em ;
    font-weight: bold;
    color: rgb(48, 126, 228); 
    text-shadow: 2px 2px 2px rgb(243, 228, 141);
    font-family: 'Kanit';
    margin-left: 50px;
    margin-bottom: 50px;
 }
 .mypage-usericon{
   font-size: 10em;
   color: white;
   margin-left: 50px;
   border: 3px solid white;
   padding: 5px;
 }
 .user-detail{
   margin-left: 280px;
   margin-top: -190px;
   margin-bottom: 200px;
 }
 .mypage-edit{
   font-weight: bold;
   font-family: 'Kanit';
   font-size: 1.2em;
   color: white;
 }
 .mypage-background{
   background-color: black;
   border: none;
 }
 
 .mypage-edit-button{
   background-color: rgb(6, 167, 6);
   border: 1px solid black;
   width: 100px;
   height: 40px;
   color: white;
   font-weight: bold;
   border-radius: 5px 5px ;
   box-shadow: inset 2px 2px 5px white;;
 }
 .line{
   height: 20px;
   font-size: 0;
   border: 1px solid whitesmoke;
   margin-top: -100px;
 }
 .showing-movie{
   font-size: 1.4em;
   margin-left: 100px;
   font-weight: bolder;
   text-shadow: 2px 2px 2px rgb(150, 143, 143);
   background-color: transparent;
   color:white;
   border: 0;
 }
 .coming-movie{
    font-size: 1.4em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(150, 143, 143);
    height: 60px;
    background-color: transparent;
    color:white;
    border: 0;
 }
 .decoration:hover{
    color:rgb(48, 186, 228);
    
 }
 .decoration{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0);
    margin-left: 60px;
    height: 60px;
    border: 0;
    
 }
 
 .decoration_1{
     color:rgb(48, 186, 228);
     border-bottom: 3px solid rgb(48, 186, 228);  
 }
 .dec-messege{
   color: white;
 }
 .hidden{
   display: none;
 }
 .history-block{
   margin-left: 450px;
   margin-top: -310px;
   margin-bottom: 220px;
   color: white;
   font-family: 'Kanit';
   font-size: 1.1em;
 }
 .history-name-movie{
   font-size: 1.5em;
   font-weight: bold;
 }
 .none-decoration{
     text-decoration: none;
 }
 .card-title{
     color: #e6bb67;
     font-weight: bold;
 }
 .card-text{
     font-weight: bold;
     font-size: 0.9em;
     color: white; 
     
 }
 .card{
     border: 1px solid gray;
   font-family: 'Kanit';
 }
 .col{
     margin-top: 60px;
     width: 240px;
     margin-left: 75px;
 }
 
 .card{
     border: 1px solid gray;
 }
 